/**************
    TABLET
**************/
@media screen and (max-width: 820px) {

    /* container */
    .container {
        width: 90%;
    }

    .small-container {
        width: 80%;
    }

    /********** HEADER **********/

    /* nav */
    nav .container i {
        display: block;
        font-size: 2em;
    }

    nav .container ul {
        display: none;
    }

    /* jumbo */
    header .jumbo-phone {
        flex-direction: column;
        height: fit-content;
    }

    .jumbo-phone #jumbo-text {
        width: 90%;
    }

    .jumbo-phone #jumbo-img {
        justify-content: flex-start;
    }

    .jumbo-phone img {
        margin-top: 2em;
    }

    header .jumbo-flex {
        gap: 2em;
    }


    /********** MAIN **********/

    /* STRATEGIC PLAN */
    #bkc-strat .flex-strat {
        flex-direction: column;
    }

    /* text */
    #planning h3 {
        font-size: 4em;
        margin-bottom: 1.5rem;
    }

    /* card */
    #card-strat img{
        width: 90%;
    }

    #card-strat p {
        width: 90%;
    }

    #card-strat #card-arrow-strat {
        font-size: 1.3em;
    }

    /* TESTIMONIALS */
    main .testimonials .card-testimonial img {
        width: 25%;
        margin: 1.5em 1em;
    }

    main .testimonials .card-testimonial div p:first-child {
        width: 90%;
    }

    /* BENEFITS */
    .benefits #benefit-card {
        flex-basis: calc((100% - 1 * 2em) / 2);
        padding: 1em 0em 2em 1.5em;
    }

    .benefits #benefit-card h1 {
        font-size: 4em;
    }

    .benefits #benefit-card :nth-child(2) {
        font-size: 1.5em;
    }

    .benefits #benefit-card :nth-child(3) {
        font-size: 1em;
    }

    .benefits #benefit-card button {
        font-size: 1em;
    }

    /* ABOUT US */
    /* text */
    .about-flex #about-text h1 {
        font-size: 3.6em;
    }

    .about-flex #about-text p {
        font-size: 1em;
    }

    /* img */
    .about-flex #about-img .about-commas {
        font-size: 4em;
    }

    .about-flex #about-img h3 {
        width: 95%;
        font-size: 1.5em;
    }

    .about-flex #about-img button {
        font-size: 1em;
    }

    /* GET STARTED */
    .bck-star .small-container {
        width: 100%;
    }

    .get-star p {
        font-size: 1.1em;
        width: 70%;
    }

    .get-star h3 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    .get-star h1 {
        font-size: 6em;
    }

    .get-star button {
        font-size: 1em;
    }

    .get-star #copyright-star {
        font-size: 0.9em;
    }

    /********** FOOTER **********/
    footer p {
        font-size: 1em;
        width: 70%;
    }
}

/**************
    MOBILE
**************/
@media screen and (max-width: 375px) {

    /* container */
    .container {
        width: 80%;
    }

    /******** HEADER ********/
    /* nav */
    nav {
        height: 8vh;
        width: 100vw;
    }

    nav .container img {
        height: 5vh;
    }

    nav .container i {
        display: block;
        font-size: 5vh;
    }

    nav .container ul {
        display: none;
    }

    /* jumbo */
    .jumbo .jumbo-phone {
        flex-basis: 100%;
    }

    .jumbo-phone #jumbo-img {
        justify-content: center;
    }

    header .jumbo-phone img {
        margin-inline: auto;
    }

    header .jumbo-flex {
        flex-basis: 100%;
    }


    /******** MAIN ********/
    /* STRATEGIC PLAN */
    #planning h3 {
        font-size: 2em;
        margin-bottom: 2em;
    }

    /* TESTIMONIALS */
    main .testimonials div:first-child h2 {
        line-height: 1.2em;
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    /* card testimonials */
    main .testimonials .card-testimonial {
        flex-direction: column;
        gap: 0;
        text-align: center;
    }

    main .testimonials .card-testimonial div {
        margin-bottom: 1.5em;
    }

    main .testimonials .card-testimonial div p:first-child {
        margin-inline: auto;
    }

    main .testimonials .card-testimonial img {
        width: 50%;
    }

    /* BENEFITS */
    .benefits #benefit-card {
        flex-basis: 100%;
    }

    .benefits #benefit-card :nth-child(3) {
        width: 95%;
    }

    /* ABOUT US */
    .about-flex {
        flex-direction: column;
        gap: 5em;
    }

    /* text */
    .about-flex #about-text {
        flex-basis: 100%;
        max-width: 100%;
    }

    /* img */
    .about-flex #about-img {
        flex-basis: 100%;
    }

    /* GET STARTED */
    .get-star h3 {
        font-size: 2em;
    }

    .get-star h1 {
        font-size: 3.5em;
    }

    .get-star p {
        font-size: 1em;
        width: 85%;
    }

    /******** FOOTER ********/
    footer p {
        font-size: 0.8em;
        width: 100%;
    }
}